@require "../../common/variables.styl"

.wrapper
  position: relative

.dropdown 
  position: absolute
  left:0
  right:0
  border: solid border-color
  border-width: 1px
  &_top
    border-top-left-radius: border-radius
    border-top-right-radius: border-radius
    border-bottom-width: 0
    bottom: calc(100%-1px) // account for border
  &_bottom
    border-bottom-left-radius: border-radius
    border-bottom-right-radius: border-radius
    border-top-width: 0
    top: calc(100%-1px) // account for border