@require "../../common/variables.styl"

.wrapper
  display: block
  box-sizing: border-box
  border-radius: border-radius
  border: 1px solid border-color
  height: 50px
  position: relative
  &_focused, &:active
    border-color: primary-color
  &_flatCorners
    &_top
      border-top-left-radius: 0
      border-top-right-radius: 0
    &_bottom
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

.label
  position: absolute
  display: block
  top: 16px
  left: 12px
  right: 16px
  font: 14px sans-serif
  color: primary-color
  &_forInput
    cursor: text
  &__text
    position: absolute
    top: 0
    padding: 0 8px
    background: white
    will-change: top, left
    transition: top ease-out .1s
  &_minimized &__text
    top: -26px

.arrow
  position: absolute
  display: inline-block
  top: .5em
  right: 0
  width: 0 
  height: 0 
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-top: 5px solid primary-color

.select
  position: absolute
  z-index: 1
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin: auto
  overflow: hidden
  width: 100%
  cursor: pointer
  opacity: 0
  -webkit-tap-highlight-color: transparent

.input
  position: absolute
  top:0
  left: 18px
  width: calc(100% - 18px * 2)
  height: 100%
  padding: 0
  font: 14px sans-serif
  outline: none
  border: none